<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.example.demo.pojo.User">
        insert into  users(name ,age) values (#{name},#{age})
    </insert>
    <!--<insert id="insertUser" parameterType="User"></insert>   可以使用别名，在配置文件中配置过了 -->
</mapper>